@font-face{
  font-family: Aquire;
  src: url(./fonts/Aquire.otf) format('opentype');
}

@font-face{
  font-family: Unicode_IEC_symbol_font;
  src: url(./fonts/Unicode_IEC_symbol_font.otf) format('opentype');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;

  /* colours */
  --bg-color: #252525;
  --nav-color: #181818;
  --footer-color: #222;
  --text-color: #d1d1d1;
  --dark-text-color: #313131;
  --darken-text-color: #454545;
  --image-bg-color: #282828;
  --profile-btn-bg: #111;
  --button-main-color: #2f2f2f;
  --shadow-color: #1f1f1f;
  --lights-color: #2b2b2b;
  --gradient: #212121, #282828;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

p {
  margin: 0;
}

button {
  outline: none;
  border: none;
  color: var(--text-color);
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--nav-color);
  width: 100%;
  height: 6vh;
  text-align: right;

  & button {
    position: relative;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    background-color: rgba(0,0,0,0);
    background-image: url("./images/icons/profile.png");
    background-position: 50% 50%;
    background-size: 60%;
    background-repeat: no-repeat;
    filter: brightness(30%);
  }

  &:before {
    content: '';
    position: absolute;
    background-color: var(--active-color);
    border-radius: 50%;
    width: 25vmax;
    height: 6vh;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    filter: blur(20px) saturate(50%);

    transition: .2s;
    opacity: var(--lights-state);
  }

  &:after {
    content: '';
    position: absolute;
    background-color: var(--active-color);
    border-radius: 50%;
    width: 6vmax;
    height: 10vh;
    bottom: -60%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
    filter: blur(40px) saturate(50%);
    
    transition: .2s;
    opacity: var(--lights-state);
  }
}

.content {
  width: 100vw;
  min-height: 91vh;
  padding-top: 5vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.controls{
  display: flex;
  flex-wrap: wrap;

  .block {
    position: relative;
    margin: 0 2.5vmax 5vmax 2.5vmax;
    width: 13.5vmax;
    height: 13.5vmax;
    padding: 1.5vmax;
    padding-top: 2vmax;
    padding-bottom: .5vmax;
    border-radius: 25px;
    background: linear-gradient(145deg, var(--gradient));
    box-shadow:  .8vmax .8vmax 1.3vmax var(--shadow-color),
               -.8vmax -.8vmax 1.3vmax var(--lights-color);

    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    & p {
      position: absolute;
      top: 4%;
      left: 50%;
      transform: translateX(-50%);
      color: var(--dark-text-color);
      opacity: .75;
      font-size: 1.5vmax;
      font-family: Aquire;
    }
  }

  .modes {
    display: grid !important;
    flex-wrap: unset;
    grid-template-columns: auto auto;
    gap: 0vmax 1.4vmax;

    .mode {
      background-color: var(--button-main-color);
      border-radius: 8px;
      width: 5.5vmax;
      height: 5.5vmax;
      text-align: center;
      line-height: 5.5vmax;
      font-size: 1.9vmax;
      font-family: Aquire;
      
      transition: .2s;
    }

    .mode.active {
      background-color: var(--active-color);
      filter: saturate(60%);
    }
  }

  & input[type="checkbox"] {
    -webkit-appearance: none;

    height: 8vmax;
    width: 8vmax;
    box-shadow: 
      -0.5vmax -0.5vmax 1vmax var(--lights-color),
      0.5vmax 0.5vmax 1vmax var(--shadow-color);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: .9vmax solid rgba(0,0,0,0);
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .1s;

    &:after {
      font-family: Unicode_IEC_symbol_font;
      content: "\23FB";
      color: var(--text-color);
      font-size: 3vmax;
    }

    &:checked{
      box-shadow: 
      -0.5vmax -0.5vmax 1vmax var(--lights-color),
      0.5vmax 0.5vmax 1vmax var(--shadow-color),
      inset -0.5vmax -0.5vmax 1vmax var(--lights-color),
      inset 0.5vmax 0.5vmax 1vmax var(--shadow-color);

      &:after{
        color: var(--active-color);
        filter: saturate(50%);
      }
    }
  }
}

.logoImage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 2vmax;
  background-color: var(--image-bg-color);
  width: 37vmax;
  height: 30vh;
  border-radius: 25px;

  box-shadow:  
               11px 11px 24px var(--shadow-color),
               -11px -11px 24px var(--lights-color);

  & img {
    -webkit-user-drag: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode:darken;
    opacity: .2;
  }
}

.footer {
  position: relative;
  background-color: var(--footer-color);
  width: 100%;
  height: 9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: min(max(12px, 1.4vw), 16px);
  color: var(--darken-text-color);

  & a {
    color: inherit;
    filter: brightness(150%);
    text-decoration: none;
  }
}

:where(.logoImage, .nav button, .mode):hover {
  cursor: pointer;
  transition: .2s;
  filter: brightness(115%);
}

/* override radial-color-picker */

.rcp {
  width: 11vmax !important;
  height: 11vmax !important;
  overflow: visible !important;
}

.rcp__palette {
  top: -5% !important;
  left: -5% !important;
  width: 110% !important;
  height: 110% !important;
  -webkit-mask-image: radial-gradient(circle at 50% 50%, transparent 43.5%, black 44%) !important;
  mask-image: radial-gradient(circle at 50% 50%, transparent 43.5%, black 44%) !important;
}

.rcp__palette.out {
  transform: scale(0.95) !important;
  opacity: .3 !important;
  filter: grayscale(1) !important;
}

.rcp__well {
  border: none !important;
}

.rcp.disabled {
  filter: grayscale(1) !important;
}